body.gym-page {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #0d0d0d, #1a1a1a);
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #111;
}

nav a {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover, nav a.active {
  color: rgb(255, 255, 255);
}

.intro, .workouts {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,255,136,0.2);
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-gallery img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255,);
}

