.hej{
    border-radius: 15px;
}

.tjo{
    border-radius: 15px;
    color: #e42d2d;
}

 .rund-ruta {
    border: 2px solid #4CAF50;   /* Grön kantlinje */
    border-radius: 15px;         /* Rundade hörn */
    padding: 20px;               /* Utrymme inuti rutan */
    width: fit-content;          /* Anpassar bredden efter texten */
    background-color: #f9f9f9;   /* Ljus bakgrundsfärg */
    font-family: Arial, sans-serif;
  }